{% extends "base.html" %} {% load static %} {% block tilte %} index.html {% endblock tilte %} {% block content %}


<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-8 col-md-8">
                <div class="slider-area">

                    <div class="slider-active owl-carousel">

                        {% for banner in banners %} {% if 3 >= forloop.counter %} 
                        <div class="single-slide align-center-left  animation-style-01 bg-1" style="background-image: url('static{{ banner.image.url }}'); ">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h2>{{ banner.banner.name }}</h2>
                                <h3>Narxi: <span>{{ banner.banner.narx }}so'm</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{% url 'product_detail' banner.banner.catagory.slug banner.banner.slug %}">Sotib oling</a>
                                </div>
                            </div>
                    </div>
                    {% endif %} {% endfor %}

                   </div>
            </div>
        </div>
        <!-- Slider Area End Here -->
        <!-- Begin Li Banner Area -->



        <div class="col-lg-4 col-md-4 text-center pt-xs-30">
            
            {% for banner in banners %}
                {% if forloop.counter >= 4 and  5 >= forloop.counter    %}
               
                <div class="li-banner {% if forloop.counter == 5 %}mt-15 mt-sm-30 mt-xs-30{% endif %} ">
                    <a href="{% url 'product_detail' banner.banner.catagory.slug banner.banner.slug %}">
                        <img src="static{{ banner.image.url }}" alt="">
                    </a>
                </div>       
                {% endif %}
            {% endfor %}
 
        </div>
        <!-- Li Banner Area End Here -->
    </div>
</div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin Product Area -->
<section class="pt-45 product-area li-laptop-product li-trendding-products best-sellers pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Yangi kitoblar</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                       
                        {% for yangi in category_boyicha %}
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}">
                                        <img src="{{ MEDIA_URL }}{{ yangi.image.url }}" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">New</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="{% url 'catagory_product_list_view' yangi.catagory.slug %}">{{ yangi.catagory.name|truncatechars:15 }}</a>                                        </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}">{{yangi.name|truncatechars:25}}</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">{{yangi.narx}} so'm</span>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#" class="addtocard" data-productid='{{yangi.id}}' title="Savatchaga qo'shish">tanlash</a></li>
                                            <li><a class="links-details" href="{% url 'order_product' %}"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}" title="Batafsil" class="quick-view-btn" ><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                            
                        </div>
                        {% endfor %}
                            
                         
                     </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Product Area End Here -->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            
            {% for banner in banners %}
                {% if forloop.counter > 5 %}
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="single-banner">
                        <a href="{% url 'product_detail' banner.banner.catagory.slug banner.banner.slug %}">
                            <img src="static{{ banner.image.url }}" alt="Li's Static Banner">
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
                
            
        
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="pt-45  product-area li-laptop-product li-trendding-products best-sellers pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Biznes va pisihalogiya</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                       
                       {% for yangi in yangilari %}
                       <div class="col-lg-12">
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap">
                            <div class="product-image">
                                <a href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}">
                                    <img src="{{ MEDIA_URL }}{{ yangi.image.url }}" alt="Li's Product Image">
                                </a>
                                <span class="sticker">New</span>
                            </div>
                            <div class="product_desc">
                                <div class="product_desc_info">
                                    <div class="product-review">
                                        <h5 class="manufacturer">
                                            <a href="{% url 'catagory_product_list_view' yangi.catagory.slug %}">{{ yangi.catagory.name|truncatechars:15 }}</a>                                        </h5>
                                        <div class="rating-box">
                                            <ul class="rating">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <h4><a class="product_name" href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}">{{yangi.name|truncatechars:25}}</a></h4>
                                    <div class="price-box">
                                        <span class="new-price">{{yangi.narx}} so'm</span>
                                    </div>
                                </div>
                                <div class="add-actions">
                                    <ul class="add-actions-link">
                                        <li class="add-cart active"><a href="#" class="addtocard" data-productid='{{yangi.id}}' title="Savatchaga qo'shish">tanlash</a></li>
                                        <li><a class="links-details" href="{% url 'order_product' %}"><i class="fa fa-shopping-cart"></i></a></li>
                                        <li><a href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}" title="Batafsil" class="quick-view-btn" ><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                        
                    </div>
                       {% endfor %}
                           
                        
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Product Area End Here -->
<!-- Begin Li's TV & Audio Product Area -->
<section class="product-area li-laptop-product li-trendding-products best-sellers pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Jaxon Adabiyoti</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        {% for yangi in jaxon_adabiyoti %}
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}">
                                        <img src="{{ MEDIA_URL }}{{ yangi.image.url }}" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">New</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="{% url 'catagory_product_list_view' yangi.catagory.slug %}">{{ yangi.catagory.name|truncatechars:15 }}</a>                                        </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}">{{yangi.name|truncatechars:25}}</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">{{yangi.narx}} so'm</span>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#" class="addtocard" data-productid='{{yangi.id}}' title="Savatchaga qo'shish">tanlash</a></li>
                                            <li><a class="links-details" href="{% url 'order_product' %}"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="{% url 'product_detail' yangi.catagory.slug yangi.slug %}" title="Batafsil" class="quick-view-btn" ><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                            
                        </div>
                        {% endfor %}
                            
                         
                     </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>


{% endblock content %}