{% extends "base.html" %}
{% block tile %}
  kitoblar
{% endblock tile %}
{% block content %}
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                            <li class="active">Buyurtmalar</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Shopping Cart Area Strat-->
            <div class="Shopping-cart-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="li-product-remove">O'chirish</th>
                                                <th class="li-product-thumbnail">Rasm</th>
                                                <th class="cart-product-name">Mahsulot</th>
                                                <th class="li-product-price">mahsulot narxi</th>
                                                <th class="li-product-quantity">Soni</th>
                                                <th class="li-product-subtotal">umumiy narxi</th>
                                            </tr>
                                        </thead>
                                        <tbody class="card-data-product">
                                            
                                            {% if request.session.cartdata %}

                                            {% for key,value in request.session.cartdata.items %}
                                         
                                            <tr>  
                                                <td class="li-product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                                <td class="li-product-thumbnail"><a href="{% url 'product_detail' value.cslug value.slug %}"><img src="{{ MEDIA_URL }}{{value.image}}" width="100" height="120" alt="{{ MEDIA_URL }}{{value.image}}"></a></td>
                                                <td class="li-product-name"><a href="{% url 'product_detail' value.cslug value.slug %}">{{value.nomi}}</a></td>
                                                <td class="li-product-price"><span class="amount">{{value.narxi}}</span></td>
                                                <td class="quantity">
                                                    <label>Soni</label>
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" data-productid="{{ key }}" value="{{value.soni}}" type="number">
                                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal"><span class="amount">{{value.total}}</span></td>
                                            </tr>
                                            {% endfor %}

                                            {% else %}
                                           
                                            <tr>
                                                <td class="li-product-remove"><a href="#"></a></td>
                                                <td class="li-product-thumbnail"><a href="#"></a></td>
                                                <td class="li-product-name"><a href="#"></a></td>
                                                <td class="li-product-price"><span class="amount"></span></td>
                                                <td class="quantity">
                                                </td>
                                                <td class="product-subtotal"><span class="amount"></span></td>
                                            </tr>

                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-12 ml-auto">
                                        <div class="cart-page-total">
                                            <h2>Umumiy Hisob</h2>
                                            <ul>
                                                <li class="summasi">Umumiy hisob <span class="yigindi_summa">{{ request.session.yigindi }} so'm</span> </li>
                                            </ul>
                                            <div class="button_cart">
                                                  <a class="" href="{% url 'you_checkout' %}" class="">Buyurtma berish</a>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}